.portfolio article {
  margin-top: var(--space-s);
}
.portfolio article:last-child {
  margin-bottom: 0;
}
.project-image {
  margin-bottom: 1rem !important;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  aspect-ratio: 7 / 4.95;
}
.project-image-big {
  margin-bottom: 0.5rem;
  padding: 0;
  background-color: var(--gray1);
  width: 100% !important;
  position: relative;
}
.project-image-big img {
  background-color: var(--gray1);
  margin-top: 3rem;
  /* width: 100%; */
  height: auto;
}
.project-image-name {
  position: absolute;
  top: 18%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.project-image-small {
  display: none;
  background-color: var(--gray1);
}
.project-image-small img {
  background-color: var(--gray1);
  width: 32%;
  aspect-ratio: 5 / 4;
}
.project-image-big img,
.project-image-small img {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.portfolio .category-name {
  margin-bottom: 1rem;
  color: var(--gray9);
}
.portfolio .description-big {
  color: var(--gray9);
}
.portfolio-introBtn {
  display: flex;
  align-items: center;
  width: 9.2rem;
  margin: 0.2rem auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67);
  transition: background 0.3s linear;
  height: auto;
}
.portfolio-introBtn:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(155deg, #ff4264, #96005a);
  transition: all 0.5s;
}
.portfolio-introBtn img {
  background-color: transparent;
  width: 17px;
  margin-left: 5px;
  margin-top: 0;
}
.lock {
  width: 0.7rem;
  margin-top: 0 !important;
}
.private {
  margin-top: 0rem;
}
.private span {
  color: var(--pink5);
}
.project-text-description {
  margin: 0 !important;
}
.project-text-tags {
  display: flex;
  flex-wrap: wrap;
}
.project-tag {
  border: 1px solid;
  font-weight: bolder;
  padding: 0rem 0.4rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
}
.green-tag {
  border-color: #dfe999;
}
.green-tag .description-big {
  color: #a4b528;
}
.orange-tag {
  border-color: var(--orange1);
}
.orange-tag .description-big {
  color: var(--orange2);
}
.blue-tag {
  border-color: #d5e3f5;
}
.blue-tag .description-big {
  color: #7e98bb;
}
.purple-tag {
  border-color: #e1bff9;
}
.purple-tag .description-big {
  color: var(--purple1);
}
.project-tag img {
  width: 13px;
  height: 12px;
  margin-right: 3px;
}
.project-text-description .is-6 {
  padding: 0;
  line-height: 1.8;
  word-break: break-all;
}
.project-text-description .description-big {
  color: var(--gray8);
}
.project-text-description .description-big,
.project-text-description .table td {
  padding: 0em 0.75em 0.75em 0em;
  border: none;
}
.project-text-description .column.is-3 {
  padding: 0;
  padding-top: 0.2rem;
}
.description-category {
  color: #c7c7c7;
}
.project-text-description .table td.description-category {
  padding-right: 1.3rem;
}
.project-text-description .table {
  display: none;
}
.project-text-description .column.is-3 td span a::after {
  content: "|";
  color: var(--gray6);
}
.project-text-description .column.is-3 td span:last-child a::after {
  content: "";
}

.portfolio__custom-process {
  background-color: var(--gray1);
  padding: 0;
}
.portfolio__custom-process .container {
  margin: 0;
}
.portfolio__custom-process .columns {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio__custom-process .column.is-5 {
  padding: 0 3rem !important;
}
.custom-process-form {
  flex-direction: row !important;
  margin: 1rem 0 0 0 !important;
}
.portfolio__custom-process .column {
  padding: 0;
}
.portfolio__custom-process .category-name {
  color: var(--gray9);
  margin-top: 1rem;
}
.portfolio__custom-process .question {
  font-family: var(--family-serif);
  margin: 0.5rem 0;
}
.custom-process-form .column {
  margin-top: 1rem;
  flex-basis: auto;
  flex-grow: 0;
}
.custom-process-form .column.is-3 {
  width: 25%;
}
.custom-process-form .column.is-9 {
  width: 75%;
}
.custom-process-form img {
  width: 80%;
}
#mc_embed_signup {
  background-color: var(--gray1);
  font-family: var(--family-sans-serif) !important;
}
#mc_embed_signup form {
  padding: 0 !important;
}
#mc_embed_signup input.email {
  width: 100% !important;
  padding: 0.9rem var(--space-xs) !important;
  font-size: var(--size-s3) !important;
  border: var(--gray4) 1px solid;
  border-radius: 0.5rem;
}
#mc_embed_signup input.button {
  width: 100% !important;
  background-image: linear-gradient(155deg, #ff9c82, #fd1a67) !important;
  font-size: var(--size-s2) !important;
  font-weight: 800;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__ar {
  padding: var(--space-m) 0;
  text-align: center;
  background-color: var(--gray1);
}
.portfolio__ar .description-big,
.portfolio__ar .category-name {
  text-align: left;
}
.portfolio__ar .game-format {
  margin-top: 3rem;
}
.portfolio__ar .game-format .column {
  padding: 1rem 0;
}
.game-format {
  margin: 0 1rem;
}
.game-format .description-small {
  color: var(--gray7);
}
.portfolio__ar .game-format .column-fill {
  display: block;
}
.portfolio__ar .game-format .board img {
  width: 50%;
}
.portfolio__ar .game-format .AR img {
  width: 75%;
}

@media screen and (min-width: 426px) {
  .project-image-small {
    display: block;
    padding: 0;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-image-name {
    top: 17%;
  }
  .project-image-big img {
    margin-top: 0;
  }
  .portfolio-introBtn {
    width: 9.5rem;
  }
  .lock {
    width: 0.8rem;
  }
  .private {
    margin-top: 0.2rem;
  }
  .tile.is-parent.is-4 {
    display: flex;
    justify-content: space-between;
  }
  .portfolio_image_small {
    width: 32%;
  }
  .custom-process-form img {
    width: 65%;
  }
  .portfolio__custom-process .question {
    margin: 1rem 0;
  }
  .portfolio__custom-process .answer {
    text-align: left;
    margin: 1rem 0;
  }
  .portfolio__ar .game-format {
    display: flex;
    margin: 0;
  }
  .portfolio__ar .game-format .column {
    flex-basis: auto;
    padding: 0;
  }
  .portfolio__ar .game-format .board img {
    width: 75%;
  }
}

@media screen and (min-width: 769px) {
  .portfolio article {
    margin-top: var(--space-m);
  }
  .project-image-big {
    width: 70.5% !important;
  }
  .project-image-name {
    top: 15%;
  }
  .project-image-small {
    width: 28.05% !important;
    flex-direction: column;
  }
  .project-image-small img {
    height: 31.8%;
    width: 100%;
  }
  .portfolio_image {
    justify-content: space-between;
  }
  .portfolio-introBtn {
    width: 10.5rem;
  }
  .button.portfolio-introBtn img {
    width: 20px;
  }
  .portfolio_image_big {
    margin-bottom: 0rem !important;
  }
  .private {
    margin-top: 0.3rem;
  }
  .portfolio_image_name {
    top: 11% !important;
  }
  .portfolio_image_small {
    width: auto;
  }
  .project-tag img {
    width: 18px;
    height: 16px;
    margin-right: 3px;
  }
  .project-text-tags {
    margin-bottom: 0rem;
  }
  .project-tag {
    padding: 0.2rem 0.6rem 0.3rem 0.6rem;
  }
  .project-text-description .table {
    display: block;
  }
  .project-text-description .table td {
    padding: 0em 0.25em 0.75em 0.25em;
  }
  .project-text-description .description-big {
    padding-right: 1.5rem;
  }
  .portfolio__custom-process .container {
    margin: 0 var(--space-m) 0 0;
  }
  .portfolio__custom-process .columns {
    flex-direction: row;
  }
  .portfolio__custom-process .column.is-7 {
    position: relative;
    width: 80%;
  }
  .portfolio__custom-process .column.is-5 {
    position: absolute;
    right: 0;
    padding: 0 !important;
  }
  .custom-process-form img {
    width: 80%;
  }
  #mc_embed_sidnup {
    width: 15rem;
  }
  #mc_embed_signup input.button {
    font-size: var(--size-s1) !important;
    padding: 0.5rem !important;
  }
  #mc_embed_signup input.email {
    font-size: var(--size-s2) !important;
  }
  .portfolio__ar .game-format .column {
    padding: 1.5rem;
  }
  .column.is-narrow.board.is-2 {
    padding: 1rem;
  }
  .portfolio__ar .game-format .board img {
    width: 10rem;
  }
  .portfolio__ar .game-format .AR img {
    width: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    /* padding: var(--space-xl) 0; */
  }
  .portfolio-image-name {
    /* position: absolute; */
    top: 15%;
    /* left: 50%; */
    /* width: 90%;
    transform: translate(-50%, -50%);
    text-align: center; */
  }
  .portfolio article {
    margin-top: var(--space-l);
  }
  .portfolio article:last-child {
    /* margin-bottom: var(--space-l); */
  }
  .portfolio-introBtn img {
    width: 22px;
  }
  .private {
    margin-top: 0.5rem;
  }

  .portfolio_tag img {
    width: 20px;
    height: 18px;
    margin-right: 5px;
  }
  .project-text-tags {
    margin-bottom: 0.5rem;
  }
  .project-text-description .table td {
    padding: 0em 0.75em 0.75em 0;
  }
  .project-text-description .description-big {
    padding-right: 2.5rem;
  }
  .portfolio__custom-process .container {
    margin: 0 8.2rem 0 0;
  }
  .portfolio__custom-process .column.is-7 {
    width: 70%;
  }
  /* .custom-process-form img {
    width: 100%;
    max-width: 106px;
  } */
  /* .portfolio__custom-process .custom-process-form {
    margin: 0 0 0 0; */
  /* } */
  #mc_embed_signup input.button {
    font-size: var(--size-m3) !important;
    padding: 0.6rem !important;
    height: 60px;
  }
  #mc_embed_signup input.email {
    font-size: var(--size-s1) !important;
    padding: 0.7rem var(--space-xs) !important;
  }
  .portfolio__ar .game-format {
    margin-top: -0.5rem;
  }
}

@media screen and (min-width: 1216px) {
  .portfolio .is-5 {
    width: 33rem;
  }
  .portfolio__custom-process .column.is-7 {
    width: 62%;
  }
  .portfolio__custom-process .custom-process-form {
    /* margin: 2rem 5rem 0 5rem; */
  }
  #mc_embed_signup .button {
    padding: 0.8rem !important;
  }
  #mc_embed_signup input.email {
    padding: 0.9rem var(--space-xs) !important;
  }
  .custom-process-form img {
    width: 90%;
    max-width: 106px;
  }
}

@media screen and (min-width: 1441px) {
  .portfolio__ar .game-format .column {
    padding: 1.5rem 3rem 3rem 3rem;
  }
  .portfolio__custom-process .container {
    margin: 0 auto;
  }
  /* #mc_embed_signup input.button {
    height: 60px;
  } */
  .custom-process-form img {
    width: 100%;
    max-width: 106px;
  }
}
